<%= form_tag torrents_path, :class =>  "form-inline", :id => "torrent_form" do %>
  <%= text_field_tag :uri, nil, :placeholder => "Torrent URL", :class => "span9", :id => "torrent_uri_input" %>
  <%= submit_tag "Start download", :class => "btn btn-primary span3" %>
<% end %>

<%= text_field_tag :search, nil, :placeholder => "Search by Movie name", :class => "span12", :id => "search_input" %>
<div class="well well-small" id="results"></div>

